0) Very basic knowledge about Python and Programming
1) Python 3.8+ https://www.python.org/
2) Visual Studio Code (Recomended) https://code.visualstudio.com/
 Extensions [Marketplace]
 2.1) Python from Microsoft
 2.2) PyLance from Microsoft
 2.3) XML Tools
3) 7 zip or similar file archiver https://www.7-zip.org/
4) Python Virtual Environment (Recomended)